<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="active" href="{% url 'gallery-Home'%}">PhotoGrid</a>
            </div>
            <!--Categories and locations-->
            <ul>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mr-auto" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category</a>
                    <div class="dropdown-menu" aria-labelledby="category">
                        <a class="dropdown-item" href="#">cuisine</a>
                        <a class="dropdown-item" href="#">delicacy</a>
                        <a class="dropdown-item" href="#">Culture</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mr-auto" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Location</a>
                    <div class="dropdown-menu" aria-labelledby="category">
                        <a class="dropdown-item" href="#">Germany</a>
                        <a class="dropdown-item" href="#">France</a>
                        <a class="dropdown-item" href="#">Ngong</a>
                    </div>
                </li>
            </ul>

            <!-- Adding a search form -->
            <div class="col-sm-4 col-md-4 navbar-right">
                <form class="navbar-form" role="search" action="{% url 'gallery-Home' %}">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search Image" name="article">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- end of search form -->
        </div>
    </nav>

</body>

</html>